/* @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.google.com/specimen/Outfit'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --dark-roseberry: hsl(332, 51%, 32%);
    --brown: hsl(14, 45%, 36%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--eggshell);
}
.container{
    font-family: 'Young Serif', serif;
    background-color: var(--white);
    color: var(--dark-charcoal);
    /* font-weight: 400px; */
    /* font-size: 32px; */
}
